<div class='container'>

<app-navigation></app-navigation>

<br>
<h2>Choose your template:</h2>
<hr>

<br>
<!-- Row with pictures -->
<h3 style="text-align:center"><em>CVs with picture</em></h3>
<div class="flex-container">
    <div *ngFor="let template1 of templatesWithPicture"> 
        <button class="button button-stable button-clear" [routerLink]="['/template', template1.templateId]">
            <img [src]="template1.picturePath" style="width:100%" class="zoom">
        </button>
    </div>
</div>

<br>
<br>

<!-- Row without pictures -->
<h3 style="text-align:center"><em>CVs without picture</em></h3>
<div class="flex-container">
    <div *ngFor="let template2 of templates">
        <button class="button button-stable button-clear" [routerLink]="['/template', template2.templateId]">
            <img [src]="template2.picturePath" style="width:100%" class="zoom">
        </button>
    </div>
</div>

<br>
<br>
</div>

<footer class="page-footer font-small firebrick">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="http://localhost:4200/about" style="color: firebrick;"> InstantCV </a>
    </div>
 </footer>