<!-- Navigation -->
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-default">
            <div class="navbar-header">InstantCV</div>

            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="line nav-link disabled"> | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['/choose-template']"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['/about']"> About </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="loggedIn" class="nav-item">
                    <a class="nav-link" [routerLink] = "['/profile']"><i class="fas fa-user"></i> Profile </a>
                </li>
                <li *ngIf="loggedIn" class="nav-item">
                    <a class="nav-link" [routerLink] = "['/account']"><i class="fas fa-user-edit"></i> Account</a>
                </li>
                <li *ngIf="loggedIn" class="nav-item">
                    <a class="nav-link" (click)="logout()" id="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                <li *ngIf="!loggedIn" class="nav-item">
                    <a class="nav-link" [routerLink] = "['']"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
