<div class="container" id="container">
    <div class="form-container">
        <form [formGroup]="validationForm" (ngSubmit)="validate(validationForm.value)">
            <h1>Please enter Your validation code</h1>

            <input type="text" placeholder="Code" name="code" id="code" formControlName="code" />
            <input type="email" placeholder="Email" name="email" id="email" formControlName="email" />

            <button type="submit">Confirm</button>
            <!--[disabled]="!validationForm.valid"-->
        </form>
    </div>
</div>