<div class="container">

   <app-navigation></app-navigation>

   <div class="profile">
      <br>
      <a align = "center" [routerLink]="['/change_pic']">
         <img class="profile-pic" [src]= this.safePicturePath alt ="Profile picture not found">
      </a>
      <br>
      <p class="profile-name" id="name" ></p>
      <p class="profile-mail" id="email"></p>
      <p class="profile-date" id="date" ></p>
   </div>

   <hr>
   
   <div class = "row">
       <div class="col" *ngFor="let path of this.safeCvPaths; let i = index"> 
         
         <div align = "center">
            <iframe [src]="path" width="250" height="400" 
               type="application/pdf"> 
            </iframe>
         </div>
         
         <div class="iframeButton">
            <a class="btn btn-success" [href]="path" target="_blank">Open in new tab</a>
         </div>
      
      </div>
      
   </div>
   <br>
   <hr>
</div>   

<br>

<footer class="page-footer font-small firebrick">
   <div class="footer-copyright text-center py-3">© 2020 Copyright:
     <a href="http://localhost:4200/about" style="color: firebrick;"> InstantCV </a>
   </div>
</footer>