<div class="container" id="container">
    <!-- SignUp form -->
    <div class="form-container sign-up-container">
        <form [formGroup]="signUpForm" (ngSubmit)="submitSign(signUpForm.value)">
            <h1>Create Account</h1>
            <input type="text" class="form-control" placeholder="Name" name="Name" id="Name" formControlName="name">
            <p class="error-message" *ngIf="!validName">Name is not valid</p>

            <input type="email" class="form-control" placeholder="Email" name="signEmail" id="signEmail" formControlName="email" />
            <p class="error-message" *ngIf="signEmail().errors?.email || !validEmail">email is not valid</p>

            <div class="form-row">
                <div class="form-group col-md-10">
                    <input class="form-control" type="password" placeholder="Password" name="signPass" id="signPass" formControlName="password" [type]="hide1 ? 'password': 'text'" />
                    <p class="error-message" *ngIf="signPass().errors?.minlength">password must be at least 8 characters long</p>
                </div>

                <div class="form-group col-md-2">
                    <i class="material-icons" matSuffix (click)="hide1 = !hide1" style="cursor:pointer;">
                        {{hide1 ? 'visibility':'visibility_off'}}
                    </i>
                </div>
            </div>
            <button type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
        </form>
    </div>

    <!-- LogIn form -->
    <div class="form-container log-in-container ">
        <form [formGroup]="logInForm" (ngSubmit)="submitLog(logInForm.value)">
            <h1>Log In</h1>
            <input type="email" class="form-control" placeholder="Email or Username" name="logEmail" id="logEmail" formControlName="email" />
            <p class="error-message" *ngIf="!validUser">User is not valid</p>


            <div class="form-row">
                <div class="form-group col-md-10">
                    <input matInput class="form-control" type="password" placeholder="Password" name="logPass" id="logPass" formControlName="password" [type]="hide2 ? 'password': 'text'" />
                </div>
                <div class="form-group col-md-2">
                    <i class="material-icons" matSuffix (click)="hide2 = !hide2" style="cursor:pointer;">
                        {{hide2 ? 'visibility':'visibility_off'}}
                    </i>
                </div>
            </div>
            <p class="error-message" *ngIf="logPass().errors?.minlength || !validPass">Incorect password</p>


            <a style="color: firebrick;" [routerLink]="['forgot-password']"> Forgot your password? </a>
            <button type="submit" [disabled]="!logInForm.valid">Log In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>
                    To keep connected with us please login with your personal info
                </p>
                <button class="ghost" id="signIn" onclick="document.getElementById('container').classList.remove('right-panel-active')">Log In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp" onclick="document.getElementById('container').classList.add('right-panel-active')">Sign Up</button>
                <button class="ghost" id="guest" [routerLink]="['/choose-template']">Continue as guest</button>
            </div>
        </div>
    </div>
</div>